.btn {
    background-color: #ffc643;
    color: #5e35b1;
    padding: 1em 2em;
    border-radius: 10em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: none;
    font-size: medium;
}

.btn:hover {
    background-color: #5e35b1;
    color: white;
    padding: 1.1em 2.2em;
    border-radius: 10em;
    text-decoration: none;
}