.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.form_control label {
    margin-bottom: .3em;
    font-weight: 500;
}

.form_control textarea {
    padding: .7em;
    border-radius: 1em;
    border: 1px solid rgb(218, 215, 215);
}

.form_control textarea:hover {
    border: 1px solid #ffc643;
}

.form_control textarea:focus {
    outline: 1px solid #5e35b1;
}

.form_control textarea::placeholder {
    color: #7b7b7b;
}