.vaga_card {
    padding: 1em;
    margin: 1%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1em;
    /* width: 23%; */
    flex: 1;
    min-width: 300px;
    /* max-width: 40%; */
    /* transition: 1s; */
}

.vaga_card p span {
    font-weight: bold;
}

.vaga_card p {
    font-size: smaller;
    margin-bottom: .8em;
}