.vaga_card {
    font-weight: 300;
    padding: 1em;
    margin: 2%;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.05);
    border-radius: 1em;
    /* width: 23%; */
    flex: 1;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 40%; */
    /* transition: 1s; */
}

.vaga_card_actions a,
.vaga_card_actions button {
    text-decoration: none;
    border: none;
    background-color: #FFF;
    color: #827a7a;
    font-size: 1.2em;
    padding: 0 1em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vaga_card_actions a:hover {
    color: #242b90;
    transition: ease-in-out .3s;
}

.vaga_card_actions button:hover {
    color: #de3f23;
    transition: .3s;
}

.company_card:hover .vaga_card_actions {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: all .4s ease-in-out;
}